<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  
    <style>
      * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  .container{
  
  
    width: 100%;
  
    display: flex;
    justify-content: space-evenly;
  }
  .box{
    margin: 25px;
  }
  .box img{
    border: 7px solid blueviolet;
    border-radius: 50%;
    height: 400px;
    width: 400px;
  }
  .box h1{
margin: 45px 30px;
font-size: 2.5rem;
  }
  .box p{
    margin: 45px 30px;
font-size: 1.2rem;
  }
  


    </style>
  </head>
  <body>
    {{> header}}
    <div class="container">
<div class="box">
            <h1>ELECTRICAL <br>
                SERVICE <br>
                PROVIDERS</h1>
                <p>It is a long established fact that a reader will be distracted by the <br> readable content of a page when looking at its layout. The point of using Lorem</p>
        </div>
        <div class="box">
            <img src="https://images.pexels.com/photos/3748942/pexels-photo-3748942.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
    </div>
  
 {{> footer}}


  </body>



</html>



